/* ************************************************************** */
/* *************************** RESET **************************** */
/* ************************************************************** */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { height: 100%; }
body {
	height: 100%;
	width: 100%;
	font: 13px/16px 'Montserrat regular', sans-serif, Arial, Tahoma;
	background: #fff;
	/*overflow: hidden;*/
}
ol, ul, li { list-style: none; }
* {
	margin: 0;
	outline: none;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a 		{ color: #686868; text-decoration: none; }
a:hover { color: #fff; text-decoration: underline;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }

.text-bold { font-weight: bold; }
.block-active { display: block !important; }

input { -webkit-appearance: none; }



.wraper {
	box-sizing: border-box;
	overflow: hidden;
}

body {
	/*overflow: hidden;*/
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.lock-position {
	height: 100%;
	overflow: hidden;
	width: 100%;
	/*position: fixed;*/
}

/* ************************************************************** */
/* **********************  ОСНОВНЫЕ СТИЛИ *********************** */
/* ************************************************************** */


#myChart {
	display: none;
}


.wraper {
	width: 960px;
	margin: 100px auto;
	background: #cccccc54;
	border: 1px dashed #ccc;
	padding: 15px;
}

.header {
	width: 100%;
	padding: 15px;
	display: block;
	font-size: 20px;
	text-align: center;
}


.menu__list {
	width: 720px !important;
	margin: 30px auto;
	display: grid;
	grid-template-columns: 240px 240px 240px;
	grid-template-rows: 240px 240px;
	width: 100%;
}


.menu-list__element {
	/*min-height: 150px;*/
	background: #fff;
	text-align: center;
	line-height: 20px;
	border: 1px dashed #ccc;
	font-size: 14px;
	padding: 0 15px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-list__element:hover {
	background: #dc8830;
	color: #fff;
	cursor: pointer;
}